:root {
    --cor-principal:#39393a;
    --cor-fonte: #ecf8f8;
    --cor-detalhes: #0d21a1;
    --font-padrao: Helvetica, Sans-Serif;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    font-family: var(--font-padrao);
}

.header { 
    border-bottom: solid 1px var(--cor-detalhes);
    padding: 2rem 0 1rem 0;
    text-align: center;
}

.header__principal {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.header__list_item {
    padding-bottom: 0.5em;
}

.header__list_link {
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.header__list_link:hover {
    color: var(--cor-detalhes)
}

.main {
    margin: 1rem 0;
}

.main__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
}

.main__texto {
    text-align: center;
    font-size: 1.2em;
    margin: 0 1em 1em 1em; 
   
}

.main__imagem_container {
    text-align: center;
    

}

.main__imagem {
    width: 100%;
    border: 1px solid var(--cor-detalhes);    
}

.rodape {
    border-top: 1px solid var(--cor-detalhes);
    font-size: 0.8rem;
    padding: 0.5em 0;
    text-align: center;
    
}